img {
  width: 125px;
  height: 125px;
  background-color: white;
  border-radius: 75px;
  margin-top: 10px;
}

/* .video-player-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.video-container {
  width: 100%;
  max-width: 800px;
  aspect-ratio: 16/9;
  margin-bottom: 20px;
} */

/* .button-container {
  display: flex;
  justify-content: center;
} */